body,html{
	position: absolute;
	left: 0;
	margin:0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	/*cursor: none;*/
}


html,
body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "akkuratstd-lightitalic";
  src: url('../fonts/akkurat/ttf/akkuratstd-lightitalic.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "akkuratstd-bold";
  src: url('../fonts/akkurat/ttf/akkuratstd-bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "akkuratstd-light";
  src: url('../fonts/akkurat/ttf/akkuratstd-light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "akkuratstd";
  src: url('../fonts/akkurat/ttf/akkuratstd.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: akkuratstd-light;
}


h1{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;height: auto;z-index: 2;
	margin:0;
	padding: 0;
	font-size:120px;
	line-height: 120px;
}

a#email{
	position:absolute;
	z-index: 10;
	text-align: center;
	width: 100%;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: "akkuratstd-bold";
	color: #ffffff;
	border-radius: 5px;
	text-decoration: none;
	font-size:18px;
	transition: color 0.2s;
	mix-blend-mode: difference;
}

a#insta{
	position: absolute;
	z-index: 10;
	width:50px;
	height: 50px;
	top:calc(50% + 50px);
	left: 50%;
	text-align: center;
	transition: color 0.2s;
	color: #ffffff;
	font-size:18px;
	transition: color 0.2s;
	mix-blend-mode: difference;
	border-radius: 5px;
	text-decoration: none;
	transform: translate(-50%,-50%);
}

a#about_me{
	position: absolute;
	z-index: 10;
	width:150px;
	height: 50px;
	top:calc(50% + 120px);
	left: 50%;
	font-family: "akkuratstd-bold";
	text-align: center;
	transition: color 0.2s;
	color: #ffffff;
	font-size:18px;
	transition: color 0.2s;
	mix-blend-mode: difference;
	border-radius: 5px;
	text-decoration: none;
	transform: translate(-50%,-50%);
	
}

a#ig{
	position: absolute;
	background-color: #fff;
	top: calc(100% - 430px);
	left: 50%;
	color: #000;
	border-radius: 5px;
	width:auto;
	height:30px;
	z-index: 20;
	transform: translate(-50%,0%);
	margin:0;
	text-decoration: none;
	padding: 10px;
	font-size:18px;
	line-height: 30px;
	transition: color 0.2s;
}
a:hover{
	color: #ff0099;
	/*cursor: none;*/
}

#fakeConsole{
	position: absolute;
}
#waterHolder{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
  	overflow: hidden;
  	mix-blend-mode: multiply;
  	z-index: 2;

}
canvas{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*background-size: 20px auto;*/
	background-color: #000;

}
img.ixchel{
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 0;
	/* transform: translate(-50%,-50%); */
	mix-blend-mode: multiply;
	width: 30%;
	height: auto;
	min-width:50px;
	max-width: 150px;


}

#customCursor{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 50px;
	background-image: url('../images/metalcursor.png');
	background-size: cover;
	z-index: 100;
	display: none;
	

}
